$robotoLight: 'Roboto-Light';
$robotoMedium: 'Roboto-Medium';
$robotoRegular: 'Roboto-Regular';

.cashbackAndExchange__container{
  font: 1.3rem/2rem $robotoRegular;
  padding: 10px;

  p{
    font: 1.3rem/2rem $robotoRegular;
    margin-bottom: 10px;
    text-indent: 20px;
  }

  .cashbackAndExchange__container-img{
    display: flex;
    justify-content: center;
    align-items: center;

    img{
      width: 60%;
      margin: 15px auto;
    }
  }
}