.paginationContainerUL{
  float: left;
  width: 100%;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  margin-bottom: 10px;
  li{
    display: flex;
    justify-content: center;
    min-width: 32px;
    background-color: #2EA9FD;

    border-radius: 5px;
    margin: 1px;
    color: white;
    a{
      cursor: pointer;
      color: white;
      padding: 5px;
      font-weight: bold;
    }
  }
  .disableLI{
    color: grey;
  }
  .activeLI{
    a{
      color: #fbde02!important;
    }
  }
  .disabledClassName{
    a{
      color: grey;
      cursor: default!important;
    }
  }
}
