.uploadFileRd {
  position: relative;
  padding: 15px 5px;
  border-radius: 5px;
  background-color: #F5F5F5;

  //margin-left: 40px;
  display: flex;
  margin: 5px 20px 20px;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;

  //margin-bottom: 10px;
  .uploadFileRd_deleteFile{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #ff7a3f;
    font: 13px/15px Helvetica;
  }

  .uploadFileRd_dropZone{
    cursor: pointer;
    border: 2px dashed #CCC;
    position: absolute!important;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    border-radius: 5px;
    transition: all ease 0.4s;
    opacity: 1;

    .uploadFileRd_dropZone_body{
      transition: all ease 0.4s;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      background-color: #b8b8b8;

      h1{
        font: 25px/25px Helvetica;
        font-weight: 800;
        color: #040404;
      }
    }
  }

  .uploadFileRd_dropZone_active{
    border: 2px solid #47D070;

    .uploadFileRd_dropZone_body{
      opacity: 0.7;
    }
  }

  .uploadFileRd_uploadLogo {
    width: 200px;

    //height: 42px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover;
      background-size: cover;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      vertical-align: middle;
      border: 0;
    }
  }

  .uploadFileRd_button_cont {
    margin-bottom: 11px;

    .uploadFileRd_button {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #a3a3a3;
      border-radius: 5px;
      color: #6d6d6d;
      font-family: Helvetica;
      font-size: 13px;
      font-weight: 500;
      line-height: 13px;
      text-align: center;
      position: relative;
      padding: 8px 30px;
    }

    .uploadFileRd_button_btn {
      height: 100%;
      width: 100%;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
    }
  }

  .uploadFileRd_tip {
    color: #555;
    font-family: Helvetica;
    font-size: 12px;
    line-height: 14px;
  }
}