$robotoRegular: 'Roboto-Regular';
$robotoLight: 'Roboto-Light';
.oneClickModal {
  .oneClickModal_title {
    padding-right: 40px;
    color: #2C3642;
    font-family: $robotoRegular, "Helvetica Neue", Helvetica;
    font-size: 18px;
    font-weight: bold;
    line-height: 23px;
    margin-left: 16px;
    margin-top: 24px;
  }
  .oneClickModal_describe {
    padding-right: 30px;
    color: #777979;
    font-family: $robotoLight, "Helvetica Neue", Helvetica;
    font-size: 13px;
    font-weight: normal;
    line-height: 13px;
    margin-left: 16px;
    margin-top: 3px;
  }
  .oneClickModal_userDate {
    display: flex;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 10px;
    font-size: 25px;
    align-items: center;
    .oneClickModal_phone {
      color: #2C3642;
      font-family: "Helvetica Neue", Helvetica;
      font-size: 15px;
      font-weight: bold;
      line-height: 16px;
      margin-right: 17px;
    }
    .oneClickModal_inputPhone {
      font: 1.7rem/1.7rem $robotoLight;
      color: #00416f;
      padding: 2px 8px;
      align-items: center;
      margin-top: 3px;
      //margin-left: 30px;
      border: 1px solid transparent;
      transition: all 0.5s ease;
      border-radius: 4px;
      height: 4rem;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      border-color: #2EA9FD;
      //&:focus, &:hover {
      //  border-color: #2EA9FD;
      //}
      //&:last-child {
      //  margin-bottom: 20px;
      //}
    }
  }
  .oneClickModal_sendBtn {
    margin-left: 16px;
    margin-top: 1.5rem;
    background-color: #2EA9FD;
    border-radius: 7px;
    margin-bottom: 20px;
    width: 30%;
    cursor: pointer;
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: all 0.5s ease;
    &:hover {
      span {

        color: #f7f7f7;
      }
    }
    span {
      transition: all 0.2s ease;
      //font: 1.6rem/3rem $robotoRegular;
      font: 1.6rem/3rem $robotoRegular;
      color: #ffffff;
    }
  }

  .oneClickModal_gList {
    margin-right: 10px;
    margin-left: 10px;
    width: 100%;
    font: 1.3rem/1.4rem $robotoLight;
    color: #00416f;
    //margin-left: 30px;
    transition: all 0.5s ease;
    margin-bottom: 13px;
    .oneClickModal_gList_item {
      margin-top: 10px;
      display: flex;
      align-items: center;
      .oneClickModal_gList_item_logo {
        width: 30px;
        height: 30px;

        display: flex;
        justify-content: center;
        align-items: center;
        img {
          max-height: 100%;
          max-width: 100%;
          border-radius: 50%;
          overflow: hidden;
        }
      }
    }
  }
}

.oneClickModal_wasSend {
  margin-left: 16px;
  .oneClickModal_wasSend_title {
    padding-right: 40px;
    color: #2C3642;
    font-family: $robotoRegular, "Helvetica Neue", Helvetica;
    font-size: 22px;
    font-weight: bold;
    line-height: 23px;

    margin-top: 24px;
  }
  .oneClickModal_wasSend_text {
    font-family: $robotoLight, "Helvetica Neue", Helvetica;
    padding-right: 30px;
    color: #646565;
    font-size: 14px;
    font-weight: normal;
    line-height: 15px;
    margin-top: 8px;
    margin-bottom: 14px;
  }

}