$robotoLight: 'Roboto-Light';
$robotoMedium: 'Roboto-Medium';
$robotoRegular: 'Roboto-Regular';

.loginPage_container{
  padding: 10px;
  p{
    font: 1.3rem/2rem $robotoRegular;
    margin-bottom: 10px;
    text-indent: 20px;
  }
  form label{
    font: 1.3rem/2rem $robotoRegular;
    margin-bottom: 10px;
  }
  form input {
    border: 1px solid #a0a0a0;
    height: 25px;
    border-radius: 7px;
    padding: 4px;
  }

}
.btnInLoginIn{
  width: 120px;
  display: flex;
  height: 35px;
  background-color: #ff7867;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border: 1px solid #a0a0a0;
  span{
    color: white;
    font: 1.4rem/1.5rem $robotoMedium;
  }
}
.btnInLoginDis{
    @extend .btnInLoginIn;
    background-color: #5de56c;
}