$robotoLight: 'Roboto-Light';
$robotoMedium: 'Roboto-Medium';
$robotoRegular: 'Roboto-Regular';

.loginPage_container{
  padding: 10px;
  p{
    font: 1.3rem/2rem $robotoRegular;
    margin-bottom: 10px;
    text-indent: 20px;
  }
  form label{
    font: 1.3rem/2rem $robotoRegular;
    margin-bottom: 10px;
  }
  form input {
    border: 1px solid #a0a0a0;
    height: 25px;
    border-radius: 7px;
    padding: 4px;
  }

}
.btnInLoginIn{
  width: 120px;
  display: flex;
  height: 35px;
  background-color: #ff7867;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border: 1px solid #a0a0a0;
  span{
    color: white;
    font: 1.4rem/1.5rem $robotoMedium;
  }
}
.btnInLoginDis{
    @extend .btnInLoginIn;
    background-color: #5de56c;
}


.example-enter {
  opacity: 0;
  transform: translateX(-250px);
}
.example-enter.example-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: 0.35s;
}




.example-leave {
  opacity: 1;
  transform: translateX(0);
}

.example-leave.example-leave-active {
  opacity: 0;
  transform: translateX(250px);
  transition: 0.35s;
}




.example-appear {
  opacity: 0;
  transform: translateX(-250px);
}
.example-appear.example-appear-active {
  opacity: 1;
  transform: translateX(0);
  transition: 0.4s;
}



.item {
  background-color: #efefef;
  cursor: pointer;
  display: block;
  margin-bottom: 1px;
  padding: 8px 12px;
  width: 120px;
}