@import "./less-modules/confirmBlock"; /*library.less*/

@robotoLight: 'Roboto-Light';
@robotoMedium: 'Roboto-Medium';
@robotoRegular: 'Roboto-Regular';

@bgGreyColor: #424040;
@greyPaleText: #ded6d6;
@greyText: #7f7f7f;
@paleGrey: #eeeeee;
@whiteColor: #fff1d9;
@mainBgColorTwo: #75d047;
@mainBgColor: #2EA9FD; /*#50d0ca;rgba(255, 136, 0, 0.89); /*#2EA9FD; /*#2ea9fd;  #2ea9fd; */
@mainRedColor: #ff301e;
@lightBlue: #93b7c9;
@cardBG: #f6f6f6;
@define-mixin nowrap {
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Обрезаем все, что не помещается в область */
  text-overflow: ellipsis; /* Добавляем многоточие */
}

@keyframes preloader {
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/Roboto-Light.eot');
  src: url('../fonts/Roboto-Light.eot?#iefix') format("embedded-opentype"),
  url('../fonts/Roboto-Light.woff') format('woff'),
  url('../fonts/Roboto-Light.ttf') format('truetype'),
  url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/Roboto-Medium.eot');
  src: url('../fonts/Roboto-Medium.eot?#iefix') format("embedded-opentype"),
  url('../fonts/Roboto-Medium.woff') format('woff'),
  url('../fonts/Roboto-Medium.ttf') format('truetype'),
  url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?#iefix') format("embedded-opentype"),
  url('../fonts/Roboto-Regular.woff') format('woff'),
  url('../fonts/Roboto-Regular.ttf') format('truetype'),
  url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100%; /*100% от окна браузера*/
  // background-color: rgba(246, 255, 206, 0.55);
}

html {
  font-family: '';
  height: 100%; /*100% от body*/
  font-size: 62.5%; /* для простоты вычислений в качестве базового размера шрифта задается 10 пикселей */
}

.left { /*прижаться к левому краю*/
  float: left;
}

.right { /*прижаться к правому краю*/
  float: right;
}

.fullWidth { /*100% ширины от родителя*/
  width: 100%;
}

.textCenter { /*выравнивание по центру текста*/
  text-align: center;
}

.textJustify { /*выравнивание по ширине содержимого текста*/
  text-align: justify;
}

.textRight { /*выравнивание по правому краю*/
  text-align: right;
}

.textLeft { /*выравнивание по левому краю*/
  text-align: left;
}

.upper { /*все букви - большие*/
  text-transform: uppercase;
}

.half { /*половина чего-либо*/
  width: 50%;
}

.perHalf {
  width: 49%;
}

.tableDiv {
  display: table;
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.tableCell {
  display: table-cell;
  vertical-align: middle;
}

.tableRow {
  display: table-row;
  vertical-align: middle;
}

.backgroundImage {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
}

.blackColor {
  color: #000000;
}

.whiteColor {
  color: #ffffff;
}

.menuSection {
  min-height: 40px;
}

.container {
  max-width: 1200px;
  //padding: 0 30px;
  margin: 0 auto;
  position: relative;
}

/* Для автоопределения отступа для блока под гл. меню*/
.js_search-margin {
  margin-top: 40px;
}

.menuSection {
  background-color: @bgGreyColor;
  position: fixed;
  z-index: 1000;
  .container {
    .flexWrapMenu {
      min-height: 40px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      .search {
        margin-top: 5px;
        margin-bottom: 5px;
        flex-grow: 1;
        min-width: 150px;
        .search__input {
          position: relative;
          max-width: 260px;
          margin: 0 auto;
          .search__input_input {
            width: 100%;
            border: 2px solid transparent;
            border-radius: 2px;
            padding-left: 30px;
            padding-right: 7px;
            height: 30px;
            font: 1.4rem/1.4rem @robotoMedium;
            color: @greyText;
            transition: all 0.5s ease;
            &:hover, &:focus {
              border-color: @mainBgColor;
            }
          }
          .search-font-main-menu {
            position: absolute;
            left: 0px;
            top: 0px;
            height: 20px;
            padding: 6px 0px 5px 8px;
            font-size: 16px;
            color: @greyText;
          }
        }
      }
      .menu {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        .menu__menuHeader {
          display: flex;
          justify-content: center;
          .menu__menuHeader_item {
            white-space: nowrap;
            padding-left: 10px;
            &:last-child {
              padding-right: 10px;
            }
            a {
              font: 1.5rem/3rem @robotoRegular;
              color: #ded6d6;
              display: inline-block;
              transition: all 0.5s;
              &:hover {
                color: @mainBgColor;
              }
              &:after {
                content: "";
                display: block;
                position: relative;
                z-index: 1;
                width: 100%;
                margin: auto;
                border-bottom: 1px solid @mainBgColor;
                bottom: .15em;
                transition: all 0.3s;
              }
              &:hover:after {
                width: 0%;
                border-bottom-width: 1px;
              }
            }
          }
        }
      }
    }
  }
}

.main-cart {
  cursor: pointer;
  .main-cart__ico {
    color: @mainBgColor;
    font-size: 2.2rem;
    margin-left: 15px;
    transition: 0.4s;
    &:hover {
      transform: rotate(7deg);
      color: @whiteColor;
    }
    &:after {
      color: black;
      color: black;
      display: inline;
      content: attr(data-js_count);
      font-size: 16px;
      margin-left: 5px;
      padding: 3px 5px;
      background-color: white;
      border-radius: 13px;
      font-family: @robotoMedium;
    }
  }
}

.menuInfoSection {
  // margin-top: 55px;
  margin-bottom: 18px;
  .submenuBlock {
    //background-color: #dcdcdc;
    display: flex;
    flex-wrap: wrap;
    background-color: @mainBgColor;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    .contactInfo {
      flex-grow: 1;
      //background-color: #9d9bff;
      display: flex;
      justify-content: center;
      align-items: center;
      .contactInfo__list-contacts-info {
        margin-bottom: 5px;
        margin-top: 5px;
        a {
          font: 1.5rem/2.2rem @robotoMedium;
          color: white;
          transition: all 0.5s;
          &:hover {
            color: #d9d9da;
          }
        }

      }
    }
    .logoInfo {
      flex-grow: 1;
      //background-color: #a7ff6f;
      display: flex;
      justify-content: center;
      align-content: center;
      .logoInfo__logo-img {
        height: 75px;
        width: 200px;
      }
    }
    .userInfo {
      //background-color: #ffe188;
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      .userInfo__listInfo {
        a {
          font: 1.5rem/2.2rem @robotoMedium;
          color: white;
          transition: all 0.5s;
          &:hover {
            color: #d9d9da;;
          }
        }

      }
    }
  }
}

.itemsSection {
  margin-bottom: 18px;
  .themeItemsblock {
    display: flex;
    flex-wrap: wrap;
    background-color: @mainBgColor;
    border-radius: 4px;
    .themeItemsblock__oneItem {
      min-width: 85px;
      flex-grow: 0;
      padding: 5px;
      display: flex;
      justify-content: center;
      white-space: nowrap;
      align-items: center;
      height: 40px;
      background-color: #eeeeee;
      color: #e1fbfd;
      margin: 5px;
      border-radius: 6px;
      transition-duration: 0.5s;
      transition-property: transform;
      transform: translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      transition: all 0.5s ease;
      a {
        font: 1.5rem/2.2rem @robotoRegular;
        color: @greyText;
        transition: all 0.5s;
      }
      &:hover, &:focus, &:active {
        transform: translateY(-3px);
        animation-name: hover;
        animation-duration: 1s;
        animation-delay: 0.3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        a {
          color: @bgGreyColor;
        }
      }
    }
  }
}

@keyframes hover {
  50% {
    transform: translateY(-4px);
  }

  100% {
    transform: translateY(-6px);
  }
}

.productsCardBlock {
  background-color: @mainBgColor;
  border-radius: 10px;
  .productsCardBlock__bodyCardItems {
    padding: 0 10px;
    .bodyCardItems__oneCardItem {
      transition: background-color 0.5s ease;
      position: relative;
      width: 23.5%;
      float: left;
      margin-left: 2%;
      height: 45rem;
      margin-bottom: 3rem;
      //background-color: @mainBgColor;
      //border-radius: 8px;
      border: solid 1px transparent;
      overflow: hidden;
      background-color: @cardBG;

      /* &:before{
         pointer-events: none;
         position: absolute;
         content: '';
         height: 0;
         width: 0;
         bottom: 0;
         left: 0;
         background: white;
         background: linear-gradient(45deg, white 45%, #aaaaaa 50%, #cccccc 56%, white 80%);
         box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.4);
         -webkit-transition-duration: 0.3s;
         transition-duration: 0.3s;
         -webkit-transition-property: width, height;
         transition-property: width, height;
       }
       &:hover:before,
       &:focus:before,
       &:active:before {
         width: 25px;
         height: 25px;
       }*/
      &:nth-child(4n+1) {
        margin-left: 0%;
      }

      &:hover {
        border: solid 1px @mainBgColor;

        //opacity: 0.3;

      }
      .oneCardItem__bottomCard_sale {
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: @mainBgColorTwo;
        border-radius: 50%;
        font: 15px/15px 'Roboto-Medium';
        color: white;
        border: 1px solid #7f7f7f;
        padding: 9px;
        transform: rotate(-38deg) translate(-5%, -20%);
        transition: box-shadow 0.5s ease;
        &:hover {
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
          //animation: preloader 0.5s infinite linear;
        }

      }
      .oneCardItem__bottomCard_new {
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: @mainBgColor;
        border-radius: 50%;
        font: 15px/15px @robotoMedium;
        color: white;
        border: 1px solid @greyText;
        padding: 9px;
        transform: rotate(38deg) translate(5%, -20%);
        transition: box-shadow 0.5s ease;
        &:hover {
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
          //animation: preloader 0.5s infinite linear;
        }
      }
      .oneCardItem__headCard {
        .oneCardItem__headCard__priceCard {
          //background-color: #fff1a2;
          display: block;
          text-align: center;
          font: 2.5rem/3rem @robotoMedium;
          margin: 5px 40px 0 40px;
          color: @bgGreyColor;
          /* @add-mixin nowrap;*/
          /* @mixin nowrap;*/

        }
        .oneCardItem__headCard__nameBrand {
          //background-color: #ffbce6;
          display: block;
          text-align: center;
          color: @bgGreyColor;
          font: 1.4rem/2.4rem @robotoRegular;
          /*@mixin nowrap;*/
          overflow: hidden;
          max-height: 4.8rem;
          padding: 0 30px
        }
        .oneCardItem__headCard__wrap-things{
          //display: flex;

          .oneCardItem__headCard__otherThings {
            color: #f61c1c;
            text-align: right;
            padding-right: 1.5rem;
            //background-color: #84b8ff;
            display: block;
            font: 1.5rem/2.5rem @robotoRegular;
            /* @add-mixin nowrap;*/
            @mixin nowrap;
            float: right;
            transition: all 0.5s ease;
            &:hover{
              color: #9d0000;
            }
            .oneCardItem__headCard__otherThings_like {
              color: @bgGreyColor;
            }
          }
          .oneCardItem__headCard__view{
            font: 1.5rem/2.5rem @robotoRegular;
            color: @bgGreyColor;
            padding-left: 1.5rem;
            .oneCardItem__headCard__view_items, i{
              color: #929292;
            }
          }
        }

      }
      .oneCardItem__imageBody {
        height: 17.5rem;
        overflow: hidden;
        //padding: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid @paleGrey;
        border-bottom: 1px solid @paleGrey;

        img {
          transition: all 0.5s ease;
          //max-height: 17.5rem;
          //max-width: 100%;
        }
        /*//&:hover{
        //  transition: all 0.5s ease;
        //  overflow: visible;
        //  img{
        //    max-height: 200vh;
        //    z-index: 99999999;
        //  }
        // // max-height: 20vw;
        //  //max-width: 20vw;
        //}*/
      }
      .oneCardItem__bottomCard {
        .oneCardItem__bottomCard__shortText {
          margin-top: 10px;
          height: 6rem;
          font: 1.3rem/1.5rem @robotoRegular;
          text-align: center;
          overflow: hidden;
          padding: 0px 5px
        }
        .oneCardItem__bottomCard__shortText_dots:after {
          //content:"...";
          //display:inline-block;
          //position:absolute;
        }
        .oneCardItem__bottomCard__status {
          font: 1.5rem/4rem @robotoRegular;
          color: @mainBgColor;
          text-align: right;
          padding-right: 8px;
        }
        .oneCardItem__bottomCard__buy {
          height: 3.5rem;
          display: flex;
          justify-content: center;
          margin: 0 auto;

          span {
            transition: all 0.5s ease;
            font: 2rem/2rem @robotoMedium;
            background-color: @mainBgColor;
            color: #ffffff;
            border-radius: 8px;
            border: 1px solid @greyText;
            padding: 0.7rem;
            &:before {
              pointer-events: none;
              position: absolute;
              z-index: 1;
              content: '';
              top: 96%;
              left: 12%;
              height: 10px;
              width: 75%;
              opacity: 0;
              background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
              -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s;
              -webkit-transition-property: transform, opacity;
              transition-property: transform, opacity;
            }
            &:hover {
              background-color: @paleGrey;
              color: @mainBgColor;
              &:before {
                opacity: 1;
              }

            }
          }
        }
      }
    }
  }
}

.fullHeight {
  background-color: #feff3b;
  //min-height: calc((100vh) - (80px));
  //min-height: calc(~"100vh - 51.5px");
}

.footerSection {
  background-color: @mainBgColor;
  margin-top: 20px;
  .footerMainBlock {
    // background-color: rgb(208, 34, 47);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px 15px;
  }
}

/*html, body {
  @media (min-width: 1600px) {
    font-size: 78.125%;
 }
}*/

/*For footer adhere, independence footer's height*/
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.additionalCardBlock {
  height: 100px;
  border-radius: 4px;
  //margin-bottom: 20px;
  padding: 8px;
  background-color: @mainBgColor;
}

.footerSection {
  flex: 0 0 auto;
  .container {
    .footerMainBlock {
      .footerMainBlock__titles {
        font: 2rem/2.6rem @robotoMedium;
        color: white;
        opacity: 0.7;
        margin: 0 auto;
        text-align: center;
        padding-top: 12px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:first-child {
          padding-top: 0px;
        }
        span {
          inimatitransform: scalse(1.1);
        }
        .strip_double {
          flex-grow: 1;
          margin: 0 1%;
          height: 7px;
          border-top: 1px solid #d9d9da;
          border-bottom: 1px solid #d9d9da;
        }
      }
      .footerMainBlock__phones {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom: 15px;
        padding-top: 15px;
        //border-bottom: 1px solid @lightBlue;

      }
      .footerMainBlock__socials {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 15px;
        padding-top: 15px;
        //border-bottom: 1px solid @lightBlue;

      }
      .footerMainBlock__payment-delivery {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 15px;
        padding-top: 15px;
        justify-content: space-around;
        flex-wrap: wrap;

        .footerMainBlock__payment-delivery_menu {
          //flex-basis: 70%;
          display: flex;
          flex-grow: 1;
          justify-content: center;
          //justify-content: center;
          //align-items: center;
          //background-color: #c2ff61;
          .contactMenuBlockFooter {
            flex-basis: 200px;
            margin-bottom: 15px;
            //background-color: #c3ff4d;
            .contactMenuBlockFooter_main {
              li {
                text-align: center;
                a {
                  transition: all ease 0.3s;
                  color: white;
                  font: 1.5rem/1.9rem @robotoMedium;
                  &:hover {
                    color: #dee6ec !important;
                  }
                }

              }
            }

          }
          .rr {

          }
        }
        .footerMainBlock__socials_delivery {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          flex-basis: 250px;
          //background-color: yellow;
          //border-radius: 50%;
          padding: 8px;
          margin-bottom: 10px;
          ///background-color: #ff6a6f;
          img {
            height: 10rem;

            margin: 0 6px;
          }
          .nvpochta {
            //transform: scale(0.6);
          }

        }
      }
    }
  }
  .footerMainBlock__payment-delivery_payment {
    //font: 1rem/1.4rem @robotoMedium;
    //color: #bfe5fe;
    //padding: 8px;
    //text-align: center;
    background-color: #ffce5c;
  }
}

.footerMainBlock__payment-delivery_payment-afferta {
  font: 1rem/1.4rem @robotoMedium;
  color: #d9d9da;
  padding: 8px;
  text-align: center;
}

.menu_one_telFooter {
  display: flex;
  align-items: center;
  font-weight: bold;
  font: 2.5rem/2.2rem 'Roboto-Medium';
  color: yellow;
  opacity: 0.9;
  transition: all 0.3s ease;
  margin: 0 10px;
  font-style: italic;
  a {
    transition: all 0.3s ease;
    color: yellow;
    font-weight: bold;
  }
  &:hover {
    color: #dee6ec;
    a {
      color: #dee6ec;
    }
  }
  i {
    font-size: 4.5rem;
    //background-color: #fff;
    border-radius: 50%;
    //border:solid 2px white;
    margin-right: 10px;
    padding: 10px;

  }
}

.menu_one_soc {
  font-weight: bold;
  font: 2.5rem/2.2rem 'Roboto-Medium';
  color: white;
  opacity: 0.9;
  transition: all 0.3s;
  margin: 0 10px;
  font-style: italic;

  i {
    background-color: #feff3b;
    color: @mainBgColor;
    padding: 0.8rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.5s ease;
    &:hover {
      background-color: @mainBgColor;
      color: #feff3b;
      border-radius: 50%;
      //color: #dee6ec;
      transform: rotate(360deg);
      //opacity: 1;
    }
  }
}

.imgFooterBlock {
  background-color: #ffffff;
  border: 1px solid #7f7f7f;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 60px;
  margin: 5px;
  transition: all ease 0.5s;
  &:hover {
    transform: scale(1.1);

  }
  .imgFooter {
    max-height: 190px;
    max-height: 45px;
  }
}

.testTemp {
  background-color: #ff1200;
}

/*font: 1.5rem/2.2rem @robotoMedium;
        color: white;
        transition: all 0.5s;
        &:hover {
          color: @bgGreyColor;
        }*/

/* ORDER-TOP*/

/**
* Компоненты аккордеона.
*/
.accordion {
  margin: 0;

  padding: 0;
  list-style: none;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.accordion_item {
  border-bottom: 1px solid #5a95fd;
}

.accordion_item:last-of-type {
  border-bottom: none;
}

/**
* Элемент label который запускает открыть/закрыть.
*/
.accordion_trigger {

  display: block;
  background-color: #007ccf;
  color: #ddd;
  font-weight: normal;
  font: 1.4rem/2rem @robotoMedium;
  cursor: pointer;
  padding: 1.2em;
  padding-left: 33px;
}

/* меняем цвет фона у активного переключателя */

.accordion_toggle:checked ~ .accordion_trigger {
  background-color: #006bb3;
  padding-left: 33px;
}

/**
 * эти элементы radio/checkbox всегда должны быть скрыты.
 */
.accordion_toggle {
  position: absolute;
  display: none;
}

/**
* скрытое содержание аккордеона.
*/
.accordion_target {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  background-color: white;
  color: #444;
  p {
    color: #9c9c9c;
    font: 1.3rem/1.6rem @robotoLight;
  }
}

/**
* когда переключатель checked на radio/checkbox, показать содержимое аккордеона.
*/
.accordion_toggle:checked ~ .accordion_target {
  position: static;
  overflow: visible;
  clip: auto;
  margin: auto;
  padding: 1.2rem;
  width: auto;
  height: auto;
  /* задержка появления  функция анимации */
  -webkit-animation: fadeIn ease-in 0.5s;
  -moz-animation: fadeIn ease-in 0.5s;
  animation: fadeIn ease-in 0.5s;
}

.accordion_toggle {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}

.accordion_toggle + label {
  cursor: pointer;
}

.accordion_toggle:not(checked) {
  position: absolute;
  opacity: 0;
}

.accordion_toggle:not(checked) + label {
  position: relative;
}

.accordion_toggle:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 15px;
  left: 5px;
  width: 22px;
  height: 22px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF;
}

.accordion_toggle:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 18px;
  left: 8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #9FD468;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5);
  opacity: 0;
  transition: all .2s;
}

.accordion_toggle:checked + label:after {
  opacity: 1;
}

.accordion_toggle:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255, 255, 0, .5);
}

/* анимация при появлении блоков с содержанием */
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1
  }
}

.tittleOrderForm {
  margin-top: 20px;
  font: 3rem/3rem @robotoRegular;
}

.formOrderMain {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .userWaysContainer {
    // background-color: #efffd5;
    padding: 30px 30px 0px 30px;
    width: 500px;
    .userWays {
      padding-top: 23px;
      padding-bottom: 25px;
      width: 100%;
      background-color: #e8e8e8;
      //margin-top: 30px;
      margin-bottom: 60px;
      border-radius: 15px;
      .tittleWAyName {
        font: 2rem/2rem @robotoRegular;
        margin-left: 30px;
        position: relative;
        margin-bottom: 25px;
        &:after {
          content: attr(data-count);
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: -13px;
          left: -57px;
          color: #ffffff;
          font: 2rem/2rem @robotoMedium;
          background-color: @mainBgColor;
          border-radius: 50%;
          height: 50px;
          width: 50px;

        }
      }
      .paymentWayOrder {
        padding-left: 30px;
        margin-bottom: 35px;
      }
      .userDataForOrder {
        display: flex;
        flex-direction: column;
        p {
          margin-left: 30px;
          margin-top: 20px;
          font: 1.2rem/1.2rem @robotoLight;
        }
        .orderWaysInput {
          font: 1.7rem/1.7rem @robotoLight;
          color: #00416f;
          padding: 2px 8px;
          align-items: center;
          margin-top: 3px;
          //margin-left: 30px;
          border: 1px solid transparent;
          transition: all 0.5s ease;
          border-radius: 4px;
          height: 4rem;
          width: 90%;
          margin-left: auto;
          margin-right: auto;
          &:focus, &:hover {
            border-color: @mainBgColor
          }
          &:last-child {
            margin-bottom: 20px;
          }
        }

      }
      .orderWaysConfirmBtn {

        margin: 0 auto;
        margin-top: 1.5rem;
        background-color: @mainBgColor;
        border-radius: 7px;
        width: 90%;
        height: 60px;
        display: flex;
        justify-content: center;
        transition: all 0.5s ease;
        &:hover {
          transform: scale(1.025);
          span {
            color: #bdedff;
          }
        }
        span {
          transition: all 0.5s ease;
          align-self: center;
          font: 3rem/3rem @robotoRegular;
          color: white;
        }
      }
    }
  }
  .itemsInCart {
    //background-color: #efffd5;
    padding: 30px 30px 0px 30px;
    width: 500px;

    /*table order top*/
    .tableWrapperInOrder {
      // background-color: #ff4f4f;

      table {
        /*table*/
        border: 1px solid #ccc;
        width: 100%;
        margin: 0;
        padding: 0;
        border-collapse: collapse;
        border-spacing: 0;
      }

      td {
        position: relative;
        .countCartInTableContainer {
          display: inline-flex;
          align-items: center;
          .countCartInTableContainer__countPlus {
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: @mainBgColor;
            border: 1px dotted black;
            font-size: 20px;
            border-radius: 50%;
            transition: all 0.3s ease;
            &:hover {
              background-color: #fff;
            }
          }
          .countCartInTableContainer__countMinus {
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: @mainBgColor;
            border: 1px dotted black;
            font-size: 25px;
            border-radius: 50%;
            transition: all 0.3s ease;
            &:hover {
              background-color: #fff;
            }
          }
          .countCartInTableContainer__count {
            text-align: center;
            max-width: 40px;

            //display: flex;
            //justify-content: center;
            //align-items: center;
            //background-color: blue;
            height: 30px;
            padding: 0 7px;
            margin: 0 2px;
            border: 1px solid @mainBgColor;

          }
        }
      }

      tbody tr {

      }
      table tr {
        position: relative;
        border: 1px solid @mainBgColor;
        //border-bottom-width: 2px;
        padding: 0.5rem;
        .deleteCross {
          color: red;
          font: 20px/20px @robotoMedium;
          transition: all 0.5s ease;
          //background-color: #ffd5ca;
          &:hover {
            cursor: pointer;
            color: #CD5C5C;
            // transform: skew(-40deg);
          }
        }
      }

      table th,
      table td {
        font: 1.2rem/1.5rem @robotoRegular;
        padding: 1rem;
        text-align: justify;
      }

      table th {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.4rem;
        letter-spacing: 1px;
        background-color: @mainBgColor;
        text-align: center;
      }

      @media screen and (max-width: 600px) {
        .countCartInTableContainer {
          //padding-top:5px;
        }

        table {
          border: 0;
        }

        table thead {
          display: none;
        }

        table tr {
          margin-bottom: 2rem;
          display: block;
          //border-bottom: 2px solid @mainBgColor;
        }

        table td {
          font: 1.2rem/1.5rem @robotoRegular;
          position: relative;
          display: block;
          text-align: center;
          /* text-align: right; */
          //  font-size: 1.3rem;
          border-bottom: 1px dotted #ccc;
        }

        table td:last-child {
          border-bottom: 0;
        }

        table td:before {
          margin-bottom: 5px;
          font: 1.5rem/2rem @robotoRegular;
          position: static;
          text-align: center;
          background-color: @mainBgColor;
          left: 2%;
          width: 100%;
          content: attr(data-label);
          float: left;
          text-transform: uppercase;
          font-weight: bold;
          border-radius: 5px;
        }
      }

      .imgINOrderTable {
        // background-color: #ffb578;
        width: 50px;
        height: 50px;
        margin: 5px;
        border: 1px solid #eeeeee;
        transition: all 0.5s ease;
        &:hover {
          transform: scale(1.1);
        }
      }

    }
    /*https://www.youtube.com/watch?v=8_EWsLjt3D8*/
    /*table order bottom*/

    .allPriceForItems {
      margin: 0 auto;
      margin-top: 1.5rem;
      background-color: #2EA9FD;
      border-radius: 7px;
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: center;
      transition: all 0.5s ease;
      span {
        transition: all 0.5s ease;
        align-self: center;
        font: 3rem/3rem @robotoRegular;
        color: white;
      }
      .allPriceForItems_text {
        font: 1.6rem/3rem @robotoRegular;
        color: #eeeeee;
      }
      .allPriceForItems_price {
        font-family: @robotoMedium;
      }
    }
  }

}

.red {
  color: red;
  font-size: 1.4rem;
}

/* ORDER-BOTTOM*/

/*
|  ul + p  - первый p за ul
|  ul ~ p  - все p за гд
|  input[type=radio]:checked - выбранный radio
|  div:not(#container) -  все div кроме #container
|  li:nth-last-child(2) - с конца nth-child
*/

/* Кнопка вверх top*/
#scrollup {
  position: fixed; /* фиксированная позиция */
  opacity: 0.8; /* прозрачность */
  padding: 15px 10px 10px; /* отступы */
  background: #aaa;
  border-radius: 5px; /* скругление углов */
  left: 10px; /* отступ слева */
  bottom: 10px; /* отступ снизу */
  display: none; /* спрятать блок */
  cursor: pointer;
}

/* Кнопка вверх bottom*/

/* Прелоудер top */

/* Прелоудер bottom  */