@robotoLight: 'Roboto-Light';
@robotoMedium: 'Roboto-Medium';
@robotoRegular: 'Roboto-Regular';

@darkCyan: #0f5f5c;
@lightCyan: #c1d3d2;
@cyan: #83a7a5;
@green: #6fb048;
@grey: #6b8383;

@yellowMain: #ffe355;
@greyText: #9a9a9a;
@whiteColor: #fff1d9;

@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/Roboto-Light.eot');
  src: url('../fonts/Roboto-Light.eot?#iefix') format("embedded-opentype"),
  url('../fonts/Roboto-Light.woff') format('woff'),
  url('../fonts/Roboto-Light.ttf') format('truetype'),
  url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/Roboto-Medium.eot');
  src: url('../fonts/Roboto-Medium.eot?#iefix') format("embedded-opentype"),
  url('../fonts/Roboto-Medium.woff') format('woff'),
  url('../fonts/Roboto-Medium.ttf') format('truetype'),
  url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?#iefix') format("embedded-opentype"),
  url('../fonts/Roboto-Regular.woff') format('woff'),
  url('../fonts/Roboto-Regular.ttf') format('truetype'),
  url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100%; /*100% от окна браузера*/
  background-color: rgba(246, 255, 206, 0.55);
}

html {
  font-family: '';
  height: 100%; /*100% от body*/
}

.left { /*прижаться к левому краю*/
  float: left;
}

.right { /*прижаться к правому краю*/
  float: right;
}

.fullWidth { /*100% ширины от родителя*/
  width: 100%;
}

.textCenter { /*выравнивание по центру текста*/
  text-align: center;
}

.textJustify { /*выравнивание по ширине содержимого текста*/
  text-align: justify;
}

.textRight { /*выравнивание по правому краю*/
  text-align: right;
}

.textLeft { /*выравнивание по левому краю*/
  text-align: left;
}

.upper { /*все букви - большие*/
  text-transform: uppercase;
}

.half { /*половина чего-либо*/
  width: 50%;
}

.perHalf {
  width: 49%;
}

.tableDiv {
  display: table;
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.tableCell {
  display: table-cell;
  vertical-align: middle;
  //position: relative;
}

.tableRow {
  display: table-row;
  vertical-align: middle;
}

.backgroundImage {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
}

.blackColor {
  color: #000000;
}

.whiteColor {
  color: #ffffff;
}

.menuSection {
  min-height: 40px;
}

.container {
  max-width: 1200px;
  //padding: 0 30px;
  margin: 0 auto;
  position: relative;
  //background-color: #6fb048;
}

.menuSection {
  background-color: #424040;
  position: fixed;
  .container {
    .flexWrapMenu {

      min-height: 40px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      //justify-content: space-between;
      //flex-wrap: wrap;
      .search {
        margin-top: 5px;
        margin-bottom: 5px;
        //width: 35%;
        flex-grow: 1;
        min-width: 150px;
        .search__input {
          position: relative;
          max-width: 260px;
          margin: 0 auto;
          .search__input_input {
            width: 100%;
            border: none;
            border-radius: 2px;
            padding-left: 30px;
            padding-right: 7px;
            height: 30px;
            font: 14px/14px @robotoMedium;
            color: @greyText;
          }
          .search-font-main-menu {
            position: absolute;
            left: 0px;
            top: 0px;
            height: 20px;
            padding: 6px 0px 5px 8px;
            color: @greyText;

          }
        }
      }
      .menu {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        .menu__menuHeader {
          display: flex;
          justify-content: center;
          .menu__menuHeader_item {
            white-space: nowrap;
            //font-size: 16px;
            //robotoLight: 'Roboto-Light';
            //robotoMedium: 'Roboto-Medium';
            //robotoRegular: 'Roboto-Regular';

            padding-left: 10px;
            &:last-child {
              padding-right: 10px;
            }
            a {
              font: 15px/30px @robotoRegular;
              color: #ded6d6;

              display: inline-block;
              //text-shadow: 1px 1px 1px white,
              //  1px -1px 1px white,
              //-1px 1px 1px white,
              //  -1px -1px 1px white;
              //color: steelblue;
              transition: all 0.5s;
              &:hover {
                color: @yellowMain;
                //transition: font-size 0.5s ease;
              }
              &:after {
                content: "";
                display: block;
                position: relative;
                z-index: 1;
                width: 100%;
                margin: auto;
                border-bottom: 1px solid @yellowMain;
                bottom: .15em;
                transition: all 0.3s;
              }
              &:hover:after {
                width: 0%;
                border-bottom-width: 1px;
              }
            }
          }
        }
      }
    }
  }
}

.main-cart {
  .main-cart__ico {
    color: @yellowMain;
    font-size: 22px;
    margin-left: 15px;
    &:hover {
      transform: rotate(7deg);
      color: @whiteColor;
      transition: all 0.2s ease;
    }
    &:after {
      color: black;
      color: black;
      display: inline;
      content: attr(data-js_count);
      font-size: 16px;
      margin-left: 5px;
      /* padding: 3px; */
      padding: 3px 5px;
      background-color: white;
      border-radius: 13px;
      font-family: @robotoMedium;
    }
    }
  }




