$robotoLight: 'Roboto-Light';
$robotoMedium: 'Roboto-Medium';
$robotoRegular: 'Roboto-Regular';

.pageAbout__container{
  padding: 10px;
 p{
   font: 1.3rem/2rem $robotoRegular;
   margin-bottom: 10px;
   text-indent: 20px;
 }
  .pageAbout__container_img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 60%;
      margin: 15px auto;
    }
  }

}