.linksToImages{
  //margin-top: 15px;
  text-align: center;
  .linksToImages_text{
    color: #5f5e5e;
    font: 1.4rem/1.6rem 'Roboto-Light';
    .linksToImages_text_link{
      text-decoration: underline;
      color: #2EA9FD;
    }
  }
}
