.paginationContainerUL{
  float: left;
  width: 100%;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  li{
    display: flex;
    justify-content: center;
    min-width: 32px;
    background-color: #2EA9FD;

    border-radius: 5px;
    margin: 1px;
    color: white;
    a{
      cursor: pointer;
      padding: 5px;
      font-weight: bold;
    }
  }
  .disableLI{
    color: grey;
  }
  .activeLI{
    color: #fbde02;
  }
}