.linkFromCartToItem{
  color: #363636;
  transition: color 0.3s ease;
  &:hover{
    color: #2b8eb9;
  }
}

.sailInfoInMainCart{
  color: #868686;

}
@robotoLight: 'Roboto-Light';
@robotoMedium: 'Roboto-Medium';
@robotoRegular: 'Roboto-Regular';

.orderWaysConfirmBtnDsbl {

  margin: 0 auto;
  margin-top: 1.5rem;
  background-color: grey;
  border-radius: 7px;
  width: 90%;
  height: 60px;
  display: flex;
  justify-content: center;


  span {

    align-self: center;
    font: 3rem/3rem @robotoRegular;
    color: white;
  }
}


.Dropdown-placeholder{
  width: 60%;
  background-color: #f6f6f6;
  border: 1px solid #a0a0a0;
  font: 1.3rem/2.6rem @robotoRegular;
}
.Dropdown-option{
  width: 60%;
  background-color: #f6f6f6;
  border: 1px solid #a0a0a0;
  font: 1.3rem/2.6rem @robotoRegular;
}