$robotoLight: 'Roboto-Light';
$robotoMedium: 'Roboto-Medium';
$robotoRegular: 'Roboto-Regular';

.verifyEmailContainer{
  padding: 10px;
  p{
    font: 1.5rem/1.7rem $robotoRegular;
    margin-bottom: 10px;
    text-indent: 20px;
    span{
      font: 1.5rem/2rem $robotoMedium;
    }
  }
}