.basicModalWindowPB {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(64, 64, 64, 0.75);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: auto;

  .basicModalWindowPB__cont {
    position: relative;

    //overflow-y: auto;
    //overflow-x: hidden;
    //width: 40vw;
    border-radius: 6px;
    min-height: 70px;
    background-color: #fff;
    color: #2C3642;
    display: flex;
    flex-direction: column;
    margin: auto;

    .basicModalWindowPB_close {
      position: absolute;
      top: 25px;
      right: 15px;
      width: 30px;
      color: #7b7b7b;
      opacity: .8;
      font-size: 19px;
      text-align: center;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 599px) {
  .basicModalWindowPB {
    .basicModalWindowPB__cont {
      width: 88vw!important;

      //height: 45vh!important;
      padding-bottom: 10px !important;
    }
  }
}

.basicModalWindowPBContainerMin {
  opacity: 0;
  transition: all 0.3s;
}

.basicModalWindowPBContainerMax {
  opacity: 1;
}

.basicModalWindowPBMin {
  transform: scale(0.7);
  opacity: 0;
  transition: all 0.3s;
}

.basicModalWindowPBMax {
  transform: scale(1);
  opacity: 1;
}